<aside class="animated unselectable" ng-class="{'open': $ctrl.isMenuOpen}">
    <div class="close-menu-holder" ng-click="$ctrl.hideMiniMenu()">
        <a href="#" class="close-menu" mi-glyphicon="remove"> Close menu</a>
    </div>
    <menu class="nav nav-pills nav-stacked">
        <li><a ui-sref="today" ui-sref-active="active" mi-glyphicon="bell"> Today</a></li>
        <li><a ui-sref="tommorow" ui-sref-active="active" mi-glyphicon="screenshot"> Tommorow</a></li>
        <li><a ui-sref="next7Days" ui-sref-active="active" mi-glyphicon="calendar"> Next 7 days</a></li>
        <li><a ui-sref="later" ui-sref-active="active" mi-glyphicon="road"> Later</a></li>
    </menu>
</aside>
<div class="menu-overlay" ng-show="$ctrl.isMenuOpen" ng-click="$ctrl.hideMiniMenu()"></div>