<div class="readonly-contol-group">
    <div class="checker-contol">
        <div class="checkbox abc-checkbox abc-checkbox-circle">
            <input name="done-checkbox" class="styled" type="checkbox" ng-model="$ctrl.task.checked">
            <label for="done-checkbox"></label>
        </div>
    </div>
    <div class="task-content" ng-class="{'editable': $ctrl.isEditable}" ng-click="$ctrl.beginEdit()">
        <div class="action-panel" ng-hide="$ctrl.options.hideDate">
            <span class="date warning">{{ $ctrl.task.date | dateFormatter:'d MMM'}}</span>
        </div>
        <span class="text" ng-bind="$ctrl.task.text"></span>
    </div>
</div>