<aside class="animated unselectable" ng-class="{'open': $ctrl.isMenuOpen}">
    <div class="close-menu-holder" ng-click="$ctrl.hideMiniMenu()">
        <a class="close-menu" mi-glyphicon="remove"> Close menu</a>
    </div>
    <menu class="nav nav-pills nav-stacked">
        <li ng-repeat="item in $ctrl.items">
            <a ui-sref="{{item.state}}" ui-sref-active="active" mi-glyphicon="{{item.glyphicon}}" ng-click="$ctrl.hideMiniMenu()"> {{item.text}} <i ng-show="item.inTransition" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
        </li>
    </menu>
</aside>
<div class="menu-overlay" ng-show="$ctrl.isMenuOpen" ng-click="$ctrl.hideMiniMenu()"></div>