<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> MakeIt</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <div class="navbar-left navbar-action">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': !$ctrl.searchMode}" ng-click="$ctrl.setSearchVisibility(false)"><a href="#" mi-glyphicon icon-id="plus"></a></li>
                    <li ng-class="{'active': $ctrl.searchMode}" ng-click="$ctrl.setSearchVisibility(true)"><a href="#" mi-glyphicon icon-id="search"></a></li>
                </ul>

                <search-inline ng-show="$ctrl.searchMode"></search-inline>
                <quick-task-add ng-hide="$ctrl.searchMode"></quick-task-add>
            </div>

            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="#"><strong>AV</strong></a></li>
                <li><a href="#" mi-glyphicon icon-id="cog"></a></li>
            </ul>
        </div>
    </div>
</nav>