/* update bootstrap styles */

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-nav > li {
    float: left;
}

.menu-toggler {
    margin-left: -15px;
}

nav.navbar {
    @padding: 4px;
    padding-top: @padding;
    padding-bottom: @padding;
    .navbar-header a.navbar-brand {
        @padding: 8px;
        font-size: 21px;
        padding-top: @padding;
        padding-bottom: @padding;
    }
    ul.nav.navbar-nav li a.glyphiconized {
        padding: 9px 13px;
        span.glyphicon {
            font-size: 18px;
        }
    }
    .navbar-action {
        width: 60%;
        margin-left: 60px;
        .input-group.input-group-sm {
            margin-top: 5px;
        }
    }
}

/* animations */

.navbar-action {
    overflow: hidden;
    position: relative;
    height: 40px;
}

nav.navbar .navbar-action {
    @transition: all .4s ease-in-out;
    @top-active-component: 0;
    @top-offset: 100px;
    .animated() {
        position: absolute;
        transition: @transition;
        opacity: 0;
        &.active-component {
            opacity: 1;
        }
    }
    search-inline {
        .animated();
        top: @top-offset;
        &.active-component {
            top: @top-active-component;
        }
    }
    quick-task-add {
        .animated();
        top: @top-offset;
        &.active-component {
            top: @top-active-component;
        }
    }
}