<form role="search">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Quick Add Task" autocomplete="off" autocorrect="off" spellcheck="false">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" aria-label="Quick Add Task">Today</button>
            <button type="button" class="btn btn-default" aria-label="Quick Add Task">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</form>