<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="menu-toggler visible-xs">
            <ul class="nav navbar-nav navbar-left">
                <li ng-click="$ctrl.openMiniMenu()">
                    <a mi-glyphicon="align-justify"></a>
                </li>
            </ul>
        </div>

        <div class="navbar-header unselectable hidden-xs">
            <a class="navbar-brand" href="#" mi-glyphicon="check"> MakeIt</a>
        </div>

        <div class="pull-left navbar-action">
            <ul class="nav navbar-nav hidden-xs">
                <li ng-click="$ctrl.toggleSearchVisibility()">
                    <a ng-class="{'toggled': $ctrl.searchMode}" mi-glyphicon="{{$ctrl.searchMode ? 'plus' : 'search'}}"></a>
                </li>
            </ul>
            <div class="components">
                <search-inline ng-show="$ctrl.searchMode"></search-inline>
                <quick-task-add ng-hide="$ctrl.searchMode"></quick-task-add>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xxs"><a href="#"><strong>AV</strong></a></li>
            <li>
                <a href="#" mi-glyphicon="cog"></a>
            </li>
        </ul>
    </div>
</nav>