<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="menu-toggler visible-xs">
            <ul class="nav navbar-nav navbar-left fa-list">
                <li ng-click="$ctrl.openMiniMenu()">
                    <a>
                        <fa fw name="bars"></fa>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-header hidden-xs">
            <a class="navbar-brand">
                <fa fw name="check-circle-o"></fa> MakeIt</a>
        </div>

        <div class="pull-left navbar-action">
            <ul class="nav navbar-nav hidden-xs fa-list">
                <li ng-click="$ctrl.toggleSearchMode()">
                    <a tooltip-placement="bottom" tooltip-trigger="'{{$ctrl.tooltipTrigger}}'" uib-tooltip="{{$ctrl.modeInfo.tooltip}}">
                        <fa fw name="{{$ctrl.modeInfo.icon}}"></fa>
                    </a>
                </li>
            </ul>
            <div class="components">
                <search-inline ng-show="$ctrl.searchMode"></search-inline>
                <quick-task-add ng-hide="$ctrl.searchMode"></quick-task-add>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right fa-list">
            <li class="initials hidden-xxs"><a href="#" tooltip-placement="bottom" tooltip-trigger="'{{$ctrl.tooltipTrigger}}'" uib-tooltip="User initials (under development)"><strong>AV</strong></a></li>
            <li>
                <a tooltip-placement="bottom" tooltip-trigger="'{{$ctrl.tooltipTrigger}}'" uib-tooltip="Open settings (under development)">
                    <fa fw name="cog" spin="{{ $ctrl.showTransition }}" alt="settings"></fa>
                </a>
            </li>
        </ul>
    </div>
</nav>