<div ng-class="{'mini-mode': $ctrl.miniMode}">
    <header>
        <navigation-inline on-mini-menu-open="$ctrl.onOpenMiniMenu($event);"></navigation-inline>
    </header>

    <div class="container" role="main">
        <navigation-sidebar on-mini-menu-closed="$ctrl.onCloseMiniMenu($event);" is-menu-open="$ctrl.isMenuOpen"></navigation-sidebar>

        <main>
            <div class="row">
                <div class="col-md-12">
                    <h3>Text:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam, aliquid nulla eveniet fugiat odit amet. Id qui quo, vitae quisquam voluptatum quidem pariatur temporibus officiis modi odit sed! Itaque?</h1>
                </div>
            </div>
        </main>
    </div>
</div>