<div ng-class="{'mini-mode': $ctrl.miniMode, 'side-bar-menu-shown': $ctrl.isMiniMenuOpen}" ng-model-options="{
  'updateOn': 'default blur',
  'debounce': { 'default': 200, 'blur': 0 }
}">
    <header>
        <navigation-inline on-mini-menu-open="$ctrl.onOpenMiniMenu($event);"></navigation-inline>
    </header>

    <div class="container" role="main">
        <navigation-sidebar on-mini-menu-closed="$ctrl.onCloseMiniMenu($event);" is-mini-menu-open="$ctrl.isMiniMenuOpen"></navigation-sidebar>

        <main>
            <state-load-indicator default-loading-message="'Content is loading, please wait...'"></state-load-indicator>
            <div ui-view class="fade-in"></div>
        </main>
    </div>
</div>