/* app.component.less */
@import "~bootstrap/less/variables.less";

html,
body {
    height: 100%;
}

app {
    display: block;
    padding-top: 48px;
    background-color: #fafafa;
    height: 100%;
}

.container {
    max-width: 970px;
    min-width: 300px;
    width: auto;
    &[role=main] {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        // @media (max-width: @screen-xs-max) { }
    }
}

main {
    @border: 1px solid #f1f1f1;
    //min-height: 380px;
    background-color: #fff;
    padding: 0 15px;
    margin-left: 269px;
    border-left: @border;
    border-right: @border;
    height: 100%;

    @media (max-width: @screen-xs-max) {
        margin-left: 0; 
    }
}

aside {
    
}