<div ng-class="{'mini-mode': $ctrl.miniMode}">
    <header>
        <navigation-inline on-mini-menu-open="$ctrl.onOpenMiniMenu($event);"></navigation-inline>
    </header>

    <div class="container" role="main">
        <navigation-sidebar on-mini-menu-closed="$ctrl.onCloseMiniMenu($event);" is-mini-menu-open="$ctrl.isMiniMenuOpen"></navigation-sidebar>

        <main>
            <state-load-indicator></state-load-indicator>
            <div ui-view class="fade-in"></div>
        </main>
    </div>
</div>