<h1 class="view-header">Today<small>{{$ctrl.date | date : 'EEEE d MMMM'}}</small></h1>
<overdue-section ng-show="$ctrl.hasOverdueTasks()" tasks="$ctrl.overdueTasks" on-task-changed="$ctrl.onOverdueTaskChanged($event);"></overdue-section>

<today-section tasks="$ctrl.todayTasks" on-task-changed="$ctrl.onTodayTaskChanged($event);"></today-section>
<add-new-task default-date="$ctrl.date" on-new-task-created="$ctrl.onTaskCreated($event);"></add-new-task>

<done-section style="margin-top: 20px;display: block;"></done-section>
